.contenedor__itemdetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    padding: 2rem 5rem;
    margin: 0rem 5rem
}

.destino__contenedor{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.destino__titulo{
    margin-top: 1rem;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.idetail__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eaf2e3;
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 4px 8px 36px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 8px 36px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 8px 36px 0px rgba(0,0,0,0.75);
}

.idetail__titulo{
    margin-top: 2rem;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid black;
}

.idetail__img{
    height: 50rem;
    border-radius: 10px;
    
}

.idetail__terreno{
    width: 20rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
}

.idetail__descripcion{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
}

.idetail__precio{
    margin-bottom: 1rem;
    font-weight: bold;
}

.idetail__precio--span{
    font-size: 1.8rem;
    color: green;
}

         
.btn-grad {
    background-color: #053742;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
    cursor: pointer;
    margin-top: 0rem;
    font-weight: bold;
    margin-top: 1rem;
    width: 25rem;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 