/* --FORMULARIO-- */

.form {
  padding-top: 2rem;
  background-color: white;
  height: 50%;
  margin-top: 6rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  width: 40rem;
}

.contenedor__form {
  padding: 2rem;
}

.title__formulario {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
  text-align: center;
}

.form-control {
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.input{
  width: 100%;
  outline: none;
}

.error {
 color: red;
 text-transform: uppercase;
}

.cartnot__select--finalizar{
  margin: 0 auto;
}
