.icon-cart{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-top: 0rem;
    padding: 5px;
    border: 1px solid white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.icon-cart:hover{
    color: #8FC93A;
    border-color: #8FC93A;
}