.contenedor__ILC {
  background-image: url(../../../public/assets/bg.jpg);
  height: 100%;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 9.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {

  .contenedor__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 6rem;
  }
  .navlink--destinos {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: black;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
  }
}

.nav__li {
  list-style: none;
}

.navlink--destinos {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: black;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
}

.navlink--destinos:hover {
  transition: 0.3s;
  color: black;
  background-color: white;
}

.contenedor__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  flex-grow: 1;
  flex-wrap: wrap;
}

.lds-dual-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  width: 100%;
  height: 100vh;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
