.a{
  padding-top: 10rem;
}

.contenedor__ILC{
    background-image: url(../../../public/assets/bg.jpg);
    height: 100%;
    width: 100%;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:10rem;
    padding-bottom: 9.9rem;
}

.contenedor__cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  flex-grow: 1;
  flex-wrap: wrap;
}


.lds-dual-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    width: 100%;
    height: 100vh;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }