.inicio__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-weight: bold;
  height: calc(100vh - 6.3rem - 6.5rem);
}

.inicio__titutlo {
  font-size: 8rem;
}

.inicio__subtitutlo {
  font-size: 4rem;
  padding: 2rem;
  background-color: black;
  border-radius: 0.5rem;
}

.animate__animated.animate__shakeX {
  --animate-duration: 1.5s;
}

.logo-avion {
  margin-left: 0.5rem;
}

.inicio__btn {
  padding: 1rem;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
}

.inicio__btn:hover {
  color: black;
  background-color: white;
}

@media (max-width: 768px) {
  .inicio__titutlo {
    font-size: 10rem;
  }
  .inicio__subtitutlo {
    font-size: 4rem;
    padding: 2rem;
    background-color: black;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .inicio__titutlo {
    font-size: 4rem;
  }
  .inicio__subtitutlo {
    font-size: 4rem;
    width: 90%;
    text-align: center;
    padding: 2rem;
    background-color: black;
    border-radius: 0.5rem;
  }
}