 .color-header {
  background-color: #053742;
 }


/* .brand__link {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  margin-right: 15rem;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
  margin-left: 10rem;
}

.nav__ul {
  list-style: none;
  display: none;
}

.nav__link {
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.nav__link:hover {
  color: #8fc93a;
}

.active{
  height: 100vh;
  width: 100%;
  background-color: black;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 20rem;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.nav__li {
  font-size: 5rem;
}

.burger{
  z-index: 100;
  
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger{
      display: none;
  }

  .nav__ul{
    display: flex;
    gap: 2rem;
  }

  .nav__li {
    font-size: 2rem;
  }
}
 */