header{
    position:fixed;
    width: 100%;
    height: 2rem;
    z-index: 500;
}

.brand__link{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    background-color: #053742;
    box-shadow: 3px 10px 31px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 3px 10px 31px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 10px 31px 0px rgba(0,0,0,0.24);
}

.nav__ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav__link{
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.nav__link:hover{
    color: #8FC93A;
}




