*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

html{
    font-size: 62.5%;
}

.brand__link{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    background-color: #053742;
    box-shadow: 3px 10px 31px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 3px 10px 31px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 10px 31px 0px rgba(0,0,0,0.24);
}

.nav__ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav__li{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.nav__li:hover{
    color: #8FC93A;
}


