.contendor__count{
    width: 30rem;
    font-size: 2rem;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.contendor__count{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contador{
    margin: 0 auto;
}

.contendor__botones{
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}

.btn-count{
    width: 4rem;
    font-size: 2rem;
    background-color: green;
    color: white;
    border-radius: 8px;
    border: black;
}

.btn-count--red{
    background-color: #EF271B;
}



.btn-count:hover{
    
}